@mixin site-btn{
    transition: 0.2s ease;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    align-items: center;
    color: white;
    background-color: $yellow;
    padding: 1.4rem 4rem;
    border: 3px solid $yellow;
    &:hover{
        color: $yellow;
        background-color: rgba(0, 0, 0, 0);
    }
    &:active{
        box-shadow: 6px 6px 10px 2px rgba(34, 60, 80, 0.2) inset;
    }
}
@mixin vacancies-btn{
    transition: 0.2s ease;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    align-items: center;
    color: white;
    background-color: $yellow;
    padding: 1.4rem 6.7rem;
    border: 3px solid $yellow;
    &:hover{
        color: $yellow;
        background-color: rgba(0, 0, 0, 0);
    }
    &:active{
        box-shadow: 6px 6px 10px 2px rgba(34, 60, 80, 0.2) inset;
    }
}