.header{
    &__nav-wrapper{
        background-color: white;
        position: fixed ;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
    &__nav-list{
        @include responsive (phone){
            display: none;
        }
    }
    &__nav-btn{
        @include site-btn;
        @include responsive (phone){
            display: none;
        }
        @include responsive (tablet){
            margin-left: 9.4rem;
        }
    }
    &__nav-logo{
        @include responsive(phone){
                margin-left: auto;
                margin-right: auto;
            }
        &:hover svg path{
            fill: $yellow;
        }
        &:active svg path{
            opacity: 0.6;
        }
        svg path{
            transition: 0.3s ease;
        }
    }
    &__burger{
        display: none;
        @include responsive (phone){
            display: flex;
        }
    }
    /* HEADER BOTTOM */
    &__bottom{
        padding-top: 10rem;
        background:
        linear-gradient(rgba(47, 59, 89, 0.75),rgba(47, 59, 89, 0.75)), 
        url(../images/png/header-bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include responsive(tablet){
            background-position: center, 0px 0px 500px;
            background-size: cover;
        }
        @include responsive (phone){
            background-position: right;
            padding-bottom: 3rem;
        }
    }
    &__bottom-container{
        @include responsive (tablet){
            background-image: url(../images/svg/header-arrow-tablet.svg);
            background-repeat: no-repeat;
            background-position: -50% bottom;
        }
        @include responsive (phone){
            background-image: url(../images/svg/header-arrow-phone.svg);
            background-repeat: no-repeat;
            background-position: bottom left;
        }
        
        @include container;
        padding-top: 15.3rem;
        padding-bottom: 15.3rem;
        h1{
            font-family: 'Space Mono';
            color: white;
            font-size: 56px;
            font-weight: 700;
            line-height: 56px;
            letter-spacing: -2.5px;
            margin-bottom: 4rem;
            @include responsive(tablet){
                text-align: center;
                font-size: 40px;
                line-height: 40px;
                letter-spacing: -1.79px;
            }
        }
    }
    &__bottom-text-wrap{
        width: 100%;
        max-width: 405px;
        &::before{
            content:"";
            width: 202.5px;
            background: url(../images/svg/header-arrow-start.svg);
            background-repeat: no-repeat;
            position: absolute;
            top: 48.5rem;
            left: 0;
            bottom: 0;
            @include responsive(tablet){
                display: none;
            }
        }
        &::after{
            overflow: hidden;
            content:"";
            width: 446.38px;
            background: url(../images/svg/header-arrow.svg);
            background-repeat: no-repeat;
            position: absolute;
            top: 48.5rem;
            left: 78rem;
            bottom: 0;
            @include responsive(tablet){
                display: none;
            }
        }
        p{
            margin-bottom: 3.8rem;
            color: white;
            font-family: 'Lexend Deca';
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
        }
        margin-left: 8rem;
        @include responsive(tablet){
            margin-left: auto;
            text-align: center;
            margin-right: auto;
        }
    }
    &__bottom-btn{
        @include site-btn;
    }
    /* LOCATION */
    &__location{
        background-image:linear-gradient(rgba(47, 59, 89, 0.75),rgba(47, 59, 89, 0.75)), url(../images/location-png/location.png);
        background-repeat: no-repeat;
    }
    &__careers{
        background-image:linear-gradient(rgba(47, 59, 89, 0.75),rgba(47, 59, 89, 0.75)), url(../images/location-png/location.png);
        background-repeat: no-repeat;
    }
}
